<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="032ea83b-356c-40f8-b68c-c3d13de87282" wsaVersion="NONE" name="CalculatorSoap" type="wsdl" bindingName="{http://tempuri.org/}CalculatorSoap" soapVersion="1_1" anonymous="optional" definition="http://www.dneonline.com/calculator.asmx?WSDL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="032ea83b-356c-40f8-b68c-c3d13de87282fileName">CalculatorSoap</con:setting></con:settings><con:endpoints><con:endpoint>http://www.dneonline.com/calculator.asmx</con:endpoint><con:endpoint>http:/localhost:8083/</con:endpoint></con:endpoints></con:interface>