<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="aa0a2ca1-8368-4057-8fdc-4be4f4aeb499" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="aa0a2ca1-8368-4057-8fdc-4be4f4aeb499fileName">REST-Service-1</con:setting></con:settings><con:endpoints><con:endpoint>http://localhost:8091</con:endpoint></con:endpoints></con:interface>