<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Demo TestCases" id="574cf3f6-8e98-48d7-86c8-27a4e2b63ab4" xmlns:con="http://eviware.com/soapui/config">
        <con:description>This is a sample TestSuite.

            It contains a number of TestCases Illustrating a number of principles with SoapUI.

            Try each test and read the descriptions.
        </con:description>
        <con:settings>
            <con:setting id="ExportJUnitReportAction@report-directory">C:\dev\testreport</con:setting>
            <con:setting id="ExportJUnitReportAction@clear-existing">true</con:setting>
            <con:setting id="ExportJUnitReportAction@format">Frames</con:setting>
            <con:setting id="CreateReportAction@report-directory">C:\dev\testreport</con:setting>
            <con:setting id="CreateReportAction@format">Multiple Pages</con:setting>
            <con:setting id="IncludeOverview">true</con:setting>
            <con:setting id="IncludeResults">true</con:setting>
            <con:setting id="FlowLayout">false</con:setting>
            <con:setting id="ErrorDetails">true</con:setting>
            <con:setting id="IncludeCoverage">true</con:setting>
            <con:setting id="ReportTitle">Default Title</con:setting>
        <con:setting id="574cf3f6-8e98-48d7-86c8-27a4e2b63ab4fileName">Demo-TestCases</con:setting></con:settings>
        <con:savedRecentRuns>1</con:savedRecentRuns>
        <con:runType>SEQUENTIAL</con:runType>
        
        
        
        <con:properties/>
        <con:setupScript/>
        <con:tearDownScript/>
        <con:reportScript/>
        <con:reportParameters/>
    <con:tagId>f4fe8042-60fc-4b9d-97c7-b2447c3e0b3e</con:tagId></con:testSuite>