<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5fb594b1-5098-44df-a703-a366d2f9592d" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5fb594b1-5098-44df-a703-a366d2f9592dfileName">REST-Service-2</con:setting></con:settings><con:endpoints/></con:interface>