<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="79eef07d-1675-43df-93cb-dee2a42d7e14" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 3" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="79eef07d-1675-43df-93cb-dee2a42d7e14fileName">REST-Service-3</con:setting></con:settings><con:endpoints/></con:interface>